/*******************************************
* Reset
*******************************************/

body,
p,
h1 {
	padding: 0;
	margin: 0;
}

/*******************************************
* Header
*******************************************/

.header {
	padding: 20px;
	font-family: Helvetica, Arial;
	background-color: #eee;
}

.header-logo {
	display: block;
}

/*******************************************
* Footer
*******************************************/

.footer {
	border-top: 1px solid #eee;
	padding: 20px;

}

.footer-copyright {
	font-family: Helvetica, Arial;
}

/*******************************************
* Login form
*******************************************/

.loginForm {
	padding: 20px;
}

.loginForm-heading {
	font-family: Helvetica, Arial;
}

.loginForm-description {
	font-family: Helvetica, Arial;
	margin-bottom: 30px;
}
#e_error {
	color: red;
}
#p_error {
	color: red;
}
